<footer
    class="flex justify-between items-center border-t border-darkblue mt-5 p-[5px] max-[999px]:flex-col"
>
    <div>
        <a href="index.html">
            <img
                src="./assets/images/logo-dark.svg"
                alt="Logo del sitio web."
                class="max-w-[50px]"
        /></a>
    </div>

    <nav>
        <ul
            class="flex justify-center text-[12px] font-semibold text-darkblue hover:text-lightblue active:text-yellowgreen max-[999px]:leading-10"
        >
            <li><a href="./miembros.html">MIEMBROS</a></li>
        </ul>
    </nav>

    <section class="flex justify-end items-center">
        <a href="#">
            <img
                src="./assets/images/fb.svg"
                alt="icono facebook"
                class="max-w-[30px]"
        /></a>

        <a href="#">
            <img
                src="./assets/images/insta.svg"
                alt="icono instagram"
                class="max-w-[30px]"
        /></a>
        <a href="#">
            <img
                src="./assets/images/youtube.svg"
                alt="icono youtube"
                class="max-w-[30px]"
        /></a>
    </section>
</footer>
